# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# ML / Model Files
# =========================
*.h5
*.keras
*.pt
*.pth
*.ckpt
model/
models/

# =========================
# Data Files
# =========================
data/
*.csv
*.txt
*.json

# =========================
# Logs & Outputs
# =========================
logs/
*.log
outputs/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# Environment Variables
# =========================
.env
